
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Forum/Forum-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Arsenal/Arsenal-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Arsenal/Arsenal-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Yeseva_One/YesevaOne-Regular.ttf") format('truetype');
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
}
