@import "helpers/scaffolding";

.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header_container,
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3f1ff;
}

.header_container {
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  height: 200px;
}
.footer_container {
  box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
  height: 70px;
}

.content_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100%;
  background: white url("../images/fruits4.jpg") no-repeat center;
  background-size: cover;
}

.footer {
  width: 100%;
  height: 100%;
  background: white url("../images/footer_img1.svg") no-repeat center;
  background-size: cover;
}

.aside_link {
  &:hover,
  &.active {
    color: #091673;
  }
}

.cent {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 5px;
}

/*для блока aside*/
.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 29%;
  padding: 10px 5px;
  margin-right: 1%;
  background-color: #f9f5c44d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);

  ul {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.2);

  }

  li {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    padding: 15px 5px;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.07);

    }
  }
}

.main {
  position: relative;
  width: 70%;
  background-color: #f9f5c44d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  color: #091673;
}

/*для меню и гамбургера*/
.menu_container {
  display: none;
  position: absolute;
  text-align: center;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 5, 41, .95);

  div {
   color: white;
   font-size: 1.5em;
   margin-bottom: 20px;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
 }
}

.dsp_block {
  display: block;
}

.gmb_container {
  position: absolute;
  right: 10px;
  top: 15px;
 display: none;
  z-index: 10;
}

.gmb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 8px 1px grey;
  background-size: contain;
  background: white url("../images/menu33.png") no-repeat center;

  &:hover {
    transform: scale(1.03);
  }
}

/*~~~~~~~~~~~~~~~~~~~~*/

@media screen and (max-width: 730px) {
  .cent {
    flex-direction: column;
  }

  .aside {
    width: 100%;
    margin: 0 0 5px;
    padding: 0 9px;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: 32%;
        height: 100%;
      }

      li {
        display: block;
        margin: 5px 0;
        height: 100%;
      }
    }
  }

  .main {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .aside {
    display: none;
  }

  .gmb_container {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    width: 70%;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~*/

/*для страницы about*/
.about {
  padding: 10px;
  line-height: 1.5em;
  p {
    margin-bottom: 20px;
    text-align: justify;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~*/

/*страница calculator*/
.button_calculate {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 8px 1px grey;
  background-size: contain;
  background: white url("../images/calculate.png") no-repeat center;
  margin: 15px auto;

  &:hover {
    transform: scale(1.03);
  }
}

.main_parameters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;

  input {
    width: 120px;
    opacity: .7;
  }
}

.age_parameter,
.height_parameter,
.weight_parameter {
    position: relative;
    opacity: .7;
}

.without_focus {
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
}

.in_focus {
  position: absolute;
  bottom: 35px;
  left: 0;
}

.activity {
  ul {
    margin-top: 15px;
    width: 300px;
    color: grey;
  }

  ul>li {
    margin-bottom: 15px;

    &>p:nth-child(1){
      font-weight: bold;
      margin-bottom: 5px;
    }

    &>p:nth-child(2) {
      font-size: 0.7em;

    }

    &:hover {
      cursor: pointer;
      color: #091673;
    }
  }
}
.none {
  display: none;
}

.goal {
 margin-top: 20px;


  ul {
    margin-top: 15px;
    color: grey;
  }

  li {
    margin-top: 5px;
    &:hover {
      font-weight: bold;
      color: #091673;
      cursor: pointer;
    }
  }
}

.change_goal {
margin-top: 20px;

  p {
    margin-bottom: 10px;
  }
}

.PFC {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  input {
    width: 130px;
  }

   label {
    display: block;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 490px) {

  .main_parameters {
    flex-direction: column;

    &>div {
      margin-bottom: 30px;
      align-self: center;
    }
  }

  fieldset {
    padding: 10px;
  }

  .PFC {
    display: block;

    div {
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 370px) {
  .activity,
  .goal {
    label,
    input {
      display: block;
      margin-bottom: 5px;
    }
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*страница eating*/
.calculated_PFC {
padding: 0 10%;

label {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
}

  input {
    width: 70px;
    margin-top: 5px;
    padding-left: 5px;
  }

  &>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &>div {
      /*
      &:nth-child(2n) {
       // margin: 0 30px;
      }

      &:nth-child(1) {
      // width: 150px;
      }
    */
      span {
        border: 1px solid pink;
        padding: 10px 5px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    & {
      padding: 0 5px;
    }
  }

  @media screen and (max-width: 370px) {
    & {
      margin-left: 5%;
    }

    &>div {
      display: block;
     text-align: center;
    }
  }
}

.button_clean_meal,
.button_add_water,
.button_add_product {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px grey;
  background-size: contain;
}

.button_clean_meal {
  background: white url("../images/remove1.png") no-repeat center;
}

.button_add_water {
  background: white url("../images/water.png") no-repeat center;
}

.button_add_product {
  background: white url("../images/meal.png") no-repeat center;
}

.main_buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;

  &>a:hover {
    transform: scale(1.03);
  }

  &>a:nth-child(2){
    margin: 0 30px;
  }
}

/*для страницы products добавить продукты*/
.form_add_products {
  display: flex;
  justify-content: center;

  &_inputs {
  margin-right: 30px;
    input {
      display: block;
      margin-bottom: 25px;
      width: 200px;
      padding-left: 5px;
    }
  }

  @media screen and (max-width: 470px) {
    & {
       flex-direction: column;
    }

    &_inputs {
      margin: 0 auto;
    }
  }
}

.add_products_button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px grey;
  background-size: contain;
  background: white url("../images/plus.png") no-repeat center;
  align-self: center;

  &:hover {
    transform: scale(1.03);
  }
}

/*это и для meals  на странице eating идля water на странице eating, это всплывающее окно серое*/
.add_to_meals_list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 174, 174, 0.9);
  text-align: center;


  &_input {
    margin-right: 5%;
  }

  button {
    width: 70px;
    padding: 6px;
    border: none;
    color: #091673;

    &:nth-child(2) {
      margin: 0 5px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      background-color: #f1f150;
    }

  }

  @media screen and (max-width: 700px) {
    & {
      justify-content: space-between;
      padding: 0 10px;
    }

    button {
      display: block;

      &:nth-child(2) {
        margin: 5px 0;
      }
    }

    &_buttons {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*отрисовка продукта на страницу при добавлении нового, страница добавить продукты*/
.products_list {
  margin: 0 8px;
}

.product {
  position: relative;
  display: flex;
  margin: 15px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: scale(1.02);
  }

  &_info {
    width: 80%;
    padding: 10px;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 5px;

    &>a {
      display: block;
      height: 30%;
      text-align: center;
      padding-top: 7px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      &:hover {
        transform: scale(1.02);
      }

      &:visited {
        text-decoration: none;
        color: #091673;
      }
    }
  }

  &_components {
    display: flex;
    justify-content: space-between;
  }
}

.transform_none {
  transform: scale(0);
}

.product_proteins,
.product_fats,
.product_carbohydrates {
  display: flex;
  justify-content: space-between;
  width: 30%;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 7px;
  padding: 2px 3px;
}

.product_calories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 7px;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 2px 3px;
}

.product_proteins {
  background-color: #ffffcb;
}

.product_fats {
  background-color: #ffe6e1;
}

.product_carbohydrates {
  background-color: #e1ffde;
}

.product_calories {
  background-color: #ddebfb;
}

.add_products_button {     /*большая кнопка для добавления продукта (плюс)*/
  display: inline-block;
  border: none;
}

@media screen and (max-width: 470px) {
  .product {
    flex-direction: column;

    &_info {
      width: 100%;
    }

    &_buttons {
      width: 100%;
      flex-direction: row;

      a {
        width: 30%;
        padding: 8px;
      }
    }
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*стили для странички edit*/
.product_edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px 30px;

  &_inputs {
    width: 100%;
    text-align: center;

    input {
      padding-left: 5px;
    }

    div {
      margin-bottom: 20px;
    }

    label {
      display: inline-block;
      width: 30%;
      margin-right: 5px;
    }
  }

  &_buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.product_edit_btn_save,
.product_edit_btn_back
{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px grey;
  background-size: contain;
  border: none;
  margin: 0 10%;

  &:hover{
    transform: scale(1.03);
  }
}

.product_edit_btn_back {
  display: inline-block;
  background: white url("../images/back.png") no-repeat center;
}

.product_edit_btn_save {
  background: white url("../images/save.png") no-repeat center;
}

/*стили для страницы eating для отрисованных meals*/
.meal {
  position: relative;
  display: flex;
  margin: 15px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #091673;

  &:hover {
    transform: scale(1.02);
  }

  &_info {
    width: 80%;
    padding: 10px;
  }

  &_components {
    display: flex;
    justify-content: space-between;
  }
}

.meal_proteins,
.meal_fats,
.meal_carbohydrates {
  display: flex;
  justify-content: space-between;
  width: 30%;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 7px;
  padding: 2px 3px;
}

.meal_calories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 7px;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 2px 3px;
}

.meal_proteins {
  background-color: #ffffcb;
}

.meal_fats {
  background-color: #ffe6e1;
}

.meal_carbohydrates {
  background-color: #e1ffde;
}

.meal_calories {
  background-color: #ddebfb;
}

.meal_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding: 5px;

  &>a {
    display: block;
    height: 45%;
    text-align: center;
    padding-top: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &:hover {
      transform: scale(1.02);
    }
  }
}